<%- include("../partials/header.ejs")%>
<link rel="stylesheet" href="/styles/homePage.css">
    <body>
        <div class="parent">
            <div></div>
            <div></div>
            <div></div>
            <div class="main">
                <div class="bgText"></div>
                <div class="ball"></div>
                <div class="header">
                    <a class="profile blend"></a>

                    <img alt="logo" class="blend" src="/images/logo/logo.png" />

                    <a class="notifications blend">
                        <div class="menu">
                        <a href="" class="menu-item blend">Update Profile Image</a>
                        <a href="" class="menu-item blend">Make Blog Post</a>
                        <a href="" class="menu-item blend">Make Diary Entry</a>
                        <a href="" class="menu-item blend">View Bookmarks</a>
                        <a href="" class="menu-item blend">View Favourites</a>
                        </div>
                    </a>
                    <a class="notifications blend for-large">
                         <div class="menu">
                        <a href="" class="menu-item blend">Update Profile Image</a>
                        <a href="" class="menu-item blend">Make Blog Post</a>
                        <a href="" class="menu-item blend">Make Diary Entry</a>
                        <a href="" class="menu-item blend">View Bookmarks</a>
                        <a href="" class="menu-item blend">View Favourites</a>
                        </div>
                    </a>
                </div>

                <section class="post">
                    <div class="svg blend"></div>
                    <a class="makepost blend"
                        >Have something to you'd love to share? Share it now!</a
                    >
                </section>
   <%  const HREF = function(id) {
                  return (pageUrl + "/" + id)
                          }   %>
                <section class="content">
                    <% if (locals.category) {  %>
                   <h3 class="blend"><%=categoryName%></h3>

                  <%  } else { %>

                <h3 class="blend">Top Posts For You!</h3>

                  <%} %>
                                        <button class="filter blend"></button>
                    <div class="categories">
                        <button class="blend" id="lifestyle" onclick="window.location.href='<%=HREF("lifestyle")%>'">Lifestyle</button>
                        <button class="blend" id="science" onclick="window.location.href='<%=HREF("science")%>'">Science</button>
                        <button class="blend" id="technology" onclick="window.location.href='<%=HREF("technology")%>'">Technology</button>
                        <button class="blend" id="gossip" onclick="window.location.href='<%=HREF("gossip")%>'">Gossip</button>
                        <button class="blend" id="health" onclick="window.location.href='<%=HREF("health")%>'">Health and Wellness</button>
                        <button class="blend" id="entertainment" onclick="window.location.href='<%=HREF("entertainment")%>'">Entertainment</button>
                        <button class="blend" id="travel" onclick="window.location.href='<%=HREF("travel")%>'">Travel And Adventure</button>
                        <button class="blend" id="inspiration" onclick="window.location.href='<%=HREF("inspiration")%>'">
                            Inspiration and Self-development
                        </button>
                    </div>
                    <div class="articles">
                     
                        
                         <%if (locals.blogIndices) { %>
                          <%- createArticles()%>
                      <% } %>
            
                  <% if (locals.category) {%>
                         <%-createCategory(category)%>
                      <%  } %>
                    </div>
                </section>
                 <!-- <section class="content-controls">
                    <button class="blend">1</button>
                    <button class="blend">2</button>
                </section>-->
      <div class="space"></div>
      <%- include("../partials/footer.ejs")%>
  <% function createArticles(){
                          const CONTENT_INDEX = blogIndices[1];
                          const CONTENT_LOOP_RANGE = CONTENT_INDEX.length
                          const CATEGORY_INDEX = blogIndices[0];
                          let articleHTML = ""
                           for (let t = 0; t < CONTENT_LOOP_RANGE; t++) {
                           
                          for (let i = 0; i < CATEGORY_INDEX.length; i++) {
                          if (!DATA[Object.keys(DATA)[CATEGORY_INDEX[i]]][CONTENT_INDEX[t]]) {continue} 
                              articleHTML+= `<div class="article"><a href="${HREF(Object.keys(DATA)[CATEGORY_INDEX[i]])}/${DATA[Object.keys(DATA)[CATEGORY_INDEX[i]]][CONTENT_INDEX[t]].id}" class="blend">
                      
                            <div class="bookmark"></div>
                            <div class="detailsBlock">
                                <img
                                    alt="profileImage"
                                    src="/images/images(21).jpeg"
                                />
                                <div class="titleText">
                                    <h4>${DATA[Object.keys(DATA)[CATEGORY_INDEX[i]]][CONTENT_INDEX[t]].title}</h4><p>${Object.keys(DATA)[CATEGORY_INDEX[i]]}</p></div></div></a></div>`
                            }
                          }
                         
                          return articleHTML
                          } %>
                          
            </div>
            <div></div>
            <div></div>
        </div>
        
        <% function createCategory(category){
        let categoryHTML = "";
        category.forEach((content) => {
          categoryHTML += `<div class="article"><a href="${categoryName}/${content.id}" class="blend">
                      
                            <div class="bookmark"></div>
                            <div class="detailsBlock">
                                <img
                                    alt="profileImage"
                                    src="/images/images(21).jpeg"
                                />
                                <div class="titleText">
                                    <h4>${content.title}</h4><p>${categoryName}</p></div></div></a></div>`
        })
        return categoryHTML;
        } %>
        <script src="/scripts/homePage.js"></script>
    </body>

</html>


